*{
    margin: 0;
    padding: 0;
}
.card{
    background-color: blueviolet;
    padding: 20px;
    margin: 30px auto;
    border: 5px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

