header {
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}

.position-box-1{
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    
}
.position-box-2{
    width: 300px;
    height:300px;
    background-color: goldenrod;
    position: absolute;
    z-index: 5;
}
.position-box-3{
    width: 200px;
    height: 200px;
    background-color: darkolivegreen;
    position: absolute;
    right:  50px;
    bottom: 0px;
    top: 100px;
    
}

.p-img-1{
    width: 500px;
    position: absolute;
    
    
}
.p-img-2{
    width: 200px;
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.p-parent{
    background-color: #181818;
    width: 500px;
    height: 550px;
    position: relative;
}
.p-height-box{
    height: 1000px;
    width: 200px;
    background-color: antiquewhite;
}
.p-fixed{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50px;
    position: sticky;
    top: 50px;
}


